# Ignore HTML files in mvp/html, team/html, and player/html
src/data_collection/mvp/html/*.html
src/data_collection/team/html/*.html
src/data_collection/player/html/*.html
src/data_collection/database.py
tests/test_database.py

# -----------------------------------------------------------------------------
# Python bytecode / compiled files
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------------------------------------------------------
# C extensions
# -----------------------------------------------------------------------------
*.so

# -----------------------------------------------------------------------------
# Distribution / packaging
# -----------------------------------------------------------------------------
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
share/python-wheels/
*.egg-info
.installed.cfg

# -----------------------------------------------------------------------------
# Installer logs
# -----------------------------------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------------------------------------------------------
# Testing / Coverage
# -----------------------------------------------------------------------------
.coverage
.coverage.*
.cache
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
.hypothesis/
htmlcov/

# -----------------------------------------------------------------------------
# Virtual environments / Python environment managers
# -----------------------------------------------------------------------------
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# -----------------------------------------------------------------------------
# Editor / IDE settings
# -----------------------------------------------------------------------------
.ipynb_checkpoints/
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Mypy / Pyre (static analysis)
# -----------------------------------------------------------------------------
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
